.panel.panel-default.widget#all_messages{ "data-id" => "#{conversation.id}"}
  .panel-heading
    %span.glyphicon.glyphicon-comment
    %h3.panel-title
      = conversation.subject
  .panel-body
    %ul.list-group
      = render 'conversations/receipts', receipts: @receipts

= render 'messages/form', conversation: conversation

= link_to "Back", conversations_path, class: "btn btn-default"
