= form_for @school_group do |f|
  .col-lg-6
    .form-group
      = f.label :name, class: 'control-label col-lg-1', style: 'text-align: left'
      = f.text_field :name, class: 'form-control', required: true
    .form-group
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), school_group_path(@school_group), :class => 'btn btn-default'