- breadcrumb :school_group, @school_group
%h2
  = @school_group.name
%h3
  Administrator for current school group
- if @admin.blank?
  .alert.alert-warning
    Current school group hasn't administrator yet!
- else
  = render partial: 'partials/users_preview', collection: @admin, as: :user
= link_to 'Change administrator...', edit_school_group_path(@school_group)
%br
%br
= link_to 'Edit School Group', edit_school_group_path(@school_group), class: 'btn btn-primary'
= link_to 'Back', school_groups_path


%h3
  Schools in current school group
= react_component 'SearchWrapper', {action: school_group_path(@school_group), name: 'Schools', results: @school_group.schools}
