- if current_page?(new_school_group_school_path)
  = form_for @school, url: school_group_schools_path(@school_group, @school) do |f|
    .form-group
      = f.text_field :name, class: 'form-control', required: true, style: 'width: 40%', placeholder: 'Enter name'
      = f.hidden_field :school_group_id, value: params[:school_group_id]
    .form-group
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), school_group_path(@school_group.id), :class => 'btn btn-default'
- else
  = form_for @school, url: school_group_school_path(@school_group, @school) do |f|
    .form-group
      = f.text_field :name, class: 'form-control', required: true, style: 'width: 40%', placeholder: 'Enter name'
      = f.hidden_field :school_group_id, value: params[:school_group_id]
    .form-group
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), school_group_path(@school_group.id), :class => 'btn btn-default'