!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SchoolDocs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if devise_controller?
      - @padding_left = "padding-left: 0;"
    #wrapper{:style => "#{@padding_left}"}
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}

        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'School Docs', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav.navbar-right.top-nav
          - if user_signed_in?
            %li
              = link_to edit_user_registration_path do
                %span.glyphicon.glyphicon-pencil
                Edit Profile
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-log-out
                Sign Out
          - else
            %li
              = link_to new_user_registration_path do
                %span.glyphicon.glyphicon-user
                Sign Up
            %li
              = link_to new_user_session_path do
                %span.glyphicon.glyphicon-log-in
                Login
        - unless devise_controller?
          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav.side-nav
              %li.active
                %a{:href => "index.html"}
                  %i.fa.fa-fw.fa-dashboard
                  Dashboard
              %li
                %a{:href => "charts.html"}
                  %i.fa.fa-fw.fa-bar-chart-o
                  Charts
              %li
                %a{:href => "tables.html"}
                  %i.fa.fa-fw.fa-table
                  Tables
              %li
                %a{:href => "forms.html"}
                  %i.fa.fa-fw.fa-edit
                  Forms
              %li
                %a{:href => "bootstrap-elements.html"}
                  %i.fa.fa-fw.fa-desktop
                  Bootstrap Elements
              %li
                %a{:href => "bootstrap-grid.html"}
                  %i.fa.fa-fw.fa-wrench
                  Bootstrap Grid
              %li
                %a{:href => "blank-page.html"}
                  %i.fa.fa-fw.fa-file
                  Blank Page
              %li
                %a{:href => "index-rtl.html"}
                  %i.fa.fa-fw.fa-dashboard
                  RTL Dashboard
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              = bootstrap_flash
          .row
            .col-lg-12
              = yield

